.league-container{
  display:grid;
  grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
  gap:20px;
}

.card{
  background:white;
  border-radius:10px;
  padding:20px;
  display:flex;
  align-items:center;
  gap:15px;
  cursor:pointer;
  transition:0.2s;
  box-shadow:0 3px 10px rgba(0,0,0,0.1);
}

.card:hover{
  transform:translateY(-3px);
}

.league-logo{
  width:50px;
}

.league-info h2{
  margin:0;
}

.league-info p{
  margin:0;
  color:gray;
}