/* ===================== */
/* NAVBAR */
/* ===================== */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #0f5132;
  padding: 10px 30px;
  color: white;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  height: 45px;
  margin-right: 12px;
}

.app-title {
  font-size: 20px;
  font-weight: bold;
}

/* ===================== */
/* LINKS */
/* ===================== */

.nav-links a {
  color: white;
  text-decoration: none;
  margin-left: 25px;
  font-weight: 500;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #22c55e;
}

.active {
  border-bottom: 2px solid #22c55e;
  padding-bottom: 3px;
}

/* ===================== */
/* CONTENIDO */
/* ===================== */

.content {
  padding: 30px;
}